.header {
    background-color: #502abd;
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 2rem;
    z-index: 100;
    transition: all .4s ease-in-out;
    box-shadow: 0 4px 6px rgba(237, 237, 237);
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.logoDiv img {
    width: 50px;
    margin-right: 20px;
}


.navbar {
    display: flex;
    align-items: center;
}

.logo {
    max-width: 100px;
    height: auto;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.listitem {
    margin: 0 20px;
    padding: .3rem 1rem;
}


.listitem a {
    text-decoration: none;
    color: #CCCCCC;
    /* color for list items, chnage this, i tried: #CCCCCC, #FFD700, #F5F5F5, #FAEBD7 */
    font-weight: bold;
}

.listitem:hover a {
    color: #FFD700;
    /* Change the text color on hover */
}

.signUp {
    gap: .5rem;
    position: relative;
    right: 10rem;
}

.text {
    padding: 3px 10px;
    background-color: #502abd;
    color: white; /* color for signup text, chnage this, i tried: #CCCCCC, #FFD700, #F5F5F5, #FAEBD7 */
    padding: 10px 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease-in-out;

}

.signUp .text:hover {
    color: #FFD700;
}