.teacher-view-Left-container {
    position: absolute;
    top: 8rem;
    left: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.teacher-view {
    border-radius: 15px;
    background-color: rgba(162, 159, 159, 0.15);
    border: 1px solid var(--color-black);
    box-sizing: border-box;
    width: 400px;
    height: 500px;
}


.button-container {
    position: relative;
    top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-button {
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #3016ce;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    width: 175px;
    height: 38px;
    border-radius: var(--br-21xl);
}

.custom-button:hover {
    background-color: #40179d;
}

.teacher-view-Right-container{
    position: absolute;
    top: 8rem;
    right: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.teacher-analysis {
    background-color: rgba(162, 159, 159, 0.19);
    width: 400px;
    height: 500px;
}

.name-title,
.desc-title {
    position: absolute;
    top: 0;
    left: 20px;
    font-weight: 300;
    display: inline-block;
}

.desc-title {
    top: 100px;
}

.pdf-name-field,
.pdf-desc-field {
    border-radius: var(--br-21xl);
    background-color: white;
    width: 350px;
    height: 40px;
    position: absolute;
    top: 50px;
    left: 20px;
}

.pdf-desc-field {
    top: 150px;
    height: 120px;
    border-radius: 20px;
}

.pdf-name-field span,
.pdf-desc-field p {
    position: absolute;
    top: 10px;
    left: 15px;
    font-weight: 300;
    display: inline-block;

}