.sliding-indicator-container {
    /* position: relative;
    left: 20px;
    top: 290px; */
    display: flex;
    flex-direction: column;
    width: 450px;
}

.sliding-indicator-container .text {
    /* position: relative;
    top: 5px;
    left: -20px; */
    font-weight: 300;
    font-size: 16px;
    display: inline-block;
    width: 250px;
    background: none;
    color: black;
}

.sliding-indicator-container .progress-bar {
    margin-left: 35%;
    
    width: 100%;
    max-width: 250px;
    background-color: #ccc;
    border-radius: var(--br-21xl);
    overflow: hidden;
    position: relative;
}

.sliding-indicator-container .progress {
    height: 20px;
    display: flex;
    align-items: center;
    width: 0;
    transition: width 2s ease;
}

.sliding-indicator-container .progress.animate {
    width: 100%;
}

.sliding-indicator-container .percent-text {
    color: white;
    text-align: center;
    margin-left: 100px;
    font-size: medium;
}

