.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container-inner {
    display: flex; 
    justify-content: space-between; 
    align-items: flex-start; 
    width: 80%; 
  }
  
  .file-upload {
    margin-right: 150px;
    width: 300px;
    height: 400px;
    text-align: center;
    padding: 20px;
  }
  
  .file-upload label img {
    width: 300px;
    height: 300px;
  }
  
  .custom-file-upload {
    display: inline-block;
    padding: 10px 20px;
    background-color: #c4c2c2;
    color: #fff;
    border: 2px dashed red;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
  }
  
  #file-input {
    display: none;
  }

    
  .submit-button {
    width: 175px;
    height: 38px;
    border-radius: var(--br-21xl);
    justify-content: center;
    display: block;
    margin-left: 85px;
    margin-top: 30px; 
    padding: 10px 20px;
    background-color: #4CAF50; 
    color: #fff;
    border: none;
    cursor: pointer;
  }

  .submit-button:hover {
    background-color: #083b0a;
}

  
  .metaData {
    background-color: rgba(162, 159, 159, 0.19);
    width: 300px;
    height: 400px;
    margin-left: 20px; 
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
  }
  
  .invalid-input {
    border-color: #ff0000; 
    background-color: #ffe0e0;
    color: #ff0000; 
    transition: border-color 0.3s ease, background-color 0.3s ease, color 0.3s ease; 
  }

  .error-message {
    color: #ff0000;
    margin-top: -10px;
    margin-bottom: 10px;
    font-size: 12px;
  }

  .metaData label {
    display: block;
    margin-bottom: 10px;
  }
  
  .metaData input,
  .metaData textarea {
    border-radius: var(--br-21xl);
    background-color: white;
    width: 100%;
    padding: 8px; 
    border: 1px solid #ccc;
    margin-bottom: 15px;
    box-sizing: border-box; 
  }

  .metaData textarea{
    height: 60px;
  }
  

  .metaData label[for="pdf-name"] {
    text-align: center;
  }