.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container-inner {
    display: flex; 
    justify-content: space-between; 
    align-items: flex-start; 
    width: 80%; 
  }
  
  .file-upload {
    margin-right: 150px;
    width: 300px;
    height: 400px;
    text-align: center;
    padding: 20px;
  }
  
  .file-upload label  {
    color: #6c6c6c;
    width: 300px;
    height: 300px;
  }
  .file-upload img  {
    width: 100px;
    height: 100px;
    top:50%
  }
  .custom-file-upload {
    display: flex;
    padding: 10px 20px;
    background-color: #c4c2c2;
    color: #fff;
    border: 2px dashed rgba(244, 52, 52, 0.397);
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    align-content: space-around;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: -14px;
  }

  #file-input {
    display: none;
  }

    
  .submit-button {
    width: 175px;
    height: 38px;
    border-radius: var(--br-21xl);
    justify-content: center;
    display: block;
    margin-left: 85px;
    margin-top: 30px; 
    padding: 10px 20px;
    background-color: #4CAF50; 
    color: #fff;
    border: none;
    cursor: pointer;
  }

  .submit-button:hover {
    background-color: #083b0a;
}

  
  .metaData {
    background-color: rgba(162, 159, 159, 0.19);
    width: 300px;
    height: 400px;
    margin-left: 20px; 
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
  }
  
  .invalid-input {
    border-color: #ff0000; 
    background-color: #ffe0e0;
    color: #ff0000; 
    transition: border-color 0.3s ease, background-color 0.3s ease, color 0.3s ease; 
  }

  .error-message {
    color: #ff0000;
    margin-top: -10px;
    margin-bottom: 10px;
    font-size: 12px;
  }

  .metaData label {
    display: block;
    margin-bottom: 10px;
  }
  
  .metaData input,
  .metaData textarea {
    border-radius: var(--br-21xl);
    background-color: white;
    width: 100%;
    padding: 8px; 
    border: 1px solid #ccc;
    margin-bottom: 15px;
    box-sizing: border-box; 
  }

  .metaData textarea{
    height: 60px;
    max-height: 200px;
    max-width: 300px;
  }
  

  .metaData label[for="pdf-name"] {
    text-align: center;
  }
  @media screen and (max-width: 786px) {
    .container{
      height: 160vh;
      flex-direction: column;
      margin: 0;
      padding: 0;
    }
    .metaData{
      margin: 0;
      width: 50vw;
      min-width: 45vw;
    }
    .custom-file-upload{
      margin: 0;
      width: 60vw;
    }
    .file-upload{
      margin: 0;
      margin-left: -35px;
      
    }
    .file-upload label {
      width: auto;
      min-width: 150px;
      color: #6c6c6c;
      margin: 0;
      margin-left: 20px;
    
  }
  .metaData textarea{
    min-width: 50vw;
    max-width: 50vw;
  }
  }
  @media screen and (max-width: 400px) {

    .file-upload label {
      width: 63vw;
      min-width: 100px;
      color: #6c6c6c;
      margin: 0;
      margin-left: 40px;
    
  }

  }